[submodule "tools/cliffsDelta"]
	path = tools/cliffsDelta
	url = https://github.com/neilernst/cliffsDelta
[submodule "tools/dialign"]
	path = tools/dialign
	url = https://github.com/GuillaumeDD/dialign
